.title p {
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 105px;
    line-height: 50px;
    color: #145068;
}

.subtitle p {
    font-size: 22px;
    color: #145068;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
}

.columnMidHead {
    width: 45%;
    height: 270px;
}

.columnGraphicHead {
    width: 27.5%;
}

.row {
    display: flex;
    flex-direction: row;
}

.interestRow {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}

.topRow {
    padding-bottom: 50px;
}

.aboutTitle {
    text-align: center;
    width: 100%;
}

.aboutPadding {
    width: 300px;
    min-height: 80px;
}

.columnMidAbout {
    width: 64%;
    height: 300px;
}

.columnGraphicAbout {
    width: 23%;
}

.sectionTitle {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    color: #145068;
}

.interestedTitle {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #145068;
    text-align: center;
    width: 100%;
}

.aboutText{
    font-family: "Montserrat";
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    line-height: 30px;
}

.skillTitle {
    padding-top: 130px;
    text-align: center;
    width: 100%;
}

.wideRow {
    width: 100%;
}

.skillNameTitle {
    color: #145068;
    font-family: "Montserrat";
    font-weight: 600;
    font-size:30px;
    text-align: center;
}

.columnSkills {
    width: 50%;
}

.skillRow {
    margin-top: 40px;
    margin-bottom: 80px;
}

.skillText {
    margin-left: 50px;
    margin-right: 50px;
}

.skillList {
    text-align: left;
    font-size: 18px;
    width: 50%;
    color: #145068;
}

.skillListSec {
    display: flex;
    flex-direction: row;
    margin-left: 70px;
}

.button {
    width: 250px;
    height: 60px;
    background-color: #145068;
    color: #FCFCF4;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat";
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    margin: 50px auto;
}

.icon {
    margin-right: 8px;
    vertical-align: middle;
}