body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', bold;
  background-color: #FCFCF4; }

nav {
  background: #145068;
  padding: 0px 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  transition: transform .8s ease; }

nav a :hover {
  background: #192C3D; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 70px; }

nav ul.left {
  float: left; }

nav ul.right {
  float: right; }

nav ul a div.linkDiv {
  list-style: none; }

nav ul a div.linkDiv {
  line-height: 50px;
  color: #171A21;
  padding: 0px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform .8s ease; }

nav ul a div.linkDiv {
  color: #F4F6F7; }

nav ul a div.linkDiv:focus {
  outline: none; }

a {
  text-decoration: none;
  padding: 0; }

div.linkDiv {
  line-height: 70px;
  vertical-align: center;
  height: 70px; }

.linkP {
  margin: 0;
  line-height: 70px; }

.title p {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 105px;
  line-height: 50px;
  color: #145068; }

.subtitle p {
  font-size: 22px;
  color: #145068;
  text-align: center;
  margin: 0;
  padding-bottom: 20px; }

.columnMidHead {
  width: 45%;
  height: 270px; }

.columnGraphicHead {
  width: 27.5%; }

.row {
  display: flex;
  flex-direction: row; }

.topRow {
  padding-bottom: 50px; }

.aboutTitle {
  text-align: center;
  width: 100%; }

.aboutPadding {
  width: 300px;
  min-height: 80px; }

.columnMidAbout {
  width: 64%;
  height: 300px; }

.columnGraphicAbout {
  width: 23%; }

.sectionTitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  color: #145068; }

.interestedTitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #145068;
  text-align: center;
  width: 100%; }

.aboutText {
  font-family: "Montserrat";
  font-size: 20px;
  text-align: center;
  padding-top: 25px;
  line-height: 30px; }

.skillTitle {
  padding-top: 130px;
  text-align: center;
  width: 100%; }

.wideRow {
  width: 100%; }

.skillNameTitle {
  color: #145068;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  text-align: center; }

.columnSkills {
  width: 50%; }

.skillRow {
  margin-top: 40px;
  margin-bottom: 80px; }

.skillText {
  margin-left: 50px;
  margin-right: 50px; }

.skillList {
  text-align: left;
  font-size: 18px;
  width: 50%;
  color: #145068; }

.skillListSec {
  display: flex;
  flex-direction: row;
  margin-left: 70px; }
