html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  display: flex;
  flex-direction: column;
  flex: 12;
  position: relative;
  min-height: 100%;
  margin: 0; }

.row {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  flex: 12; }

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 1px;
  float: left;
  justify-content: center;
  align-content: center; }

.col-12 {
  flex: 12; }

.col-11 {
  flex: 11; }

.col-10 {
  flex: 10; }

.col-9 {
  flex: 9; }

.col-8 {
  flex: 8; }

.col-7 {
  flex: 7; }

.col-6 {
  flex: 6; }

.col-5 {
  flex: 5; }

.col-4 {
  flex: 4; }

.col-3 {
  flex: 3; }

.col-2 {
  flex: 2; }

.col-1 {
  flex: 1; }

@media screen and (max-width: 970px) {
  .row {
    flex-direction: column; }

  .button-row {
    flex-direction: row; }

  .pb-row {
    flex-direction: row; } }
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', bold;
  background-color: #FCFCF4; }

nav {
  background: #145068;
  padding: 0px 3vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 11.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; }

.navLink {
  -webkit-transition: background-color .8s ease;
  -moz-transition: background-color .8s ease;
  -ms-transition: background-color .8s ease;
  transition: background-color .8s ease; }

.navLink:hover {
  background: #192C3D;
  -webkit-transition: background-color .8s ease;
  -moz-transition: background-color .8s ease;
  -ms-transition: background-color .8s ease;
  transition: background-color .8s ease; }

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; }

nav ul.left {
  float: left;
  height: 100%; }

nav ul.left a {
  height: 100%; }

nav ul.right {
  float: right;
  height: 100%; }

nav ul a div.linkDiv {
  list-style: none; }

nav ul a div.linkDiv {
  color: #171A21;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color .8s ease;
  -moz-transition: background-color .8s ease;
  -ms-transition: background-color .8s ease;
  transition: background-color .8s ease; }

nav ul a div.linkDiv {
  color: #F4F6F7; }

nav ul a div.linkDiv:focus {
  outline: none; }

a {
  text-decoration: none;
  padding: 0; }

div.linkDiv {
  line-height: 70px;
  vertical-align: center;
  height: 100%; }

.linkP {
  font-size: 1.1vw;
  margin: 0;
  vertical-align: middle;
  padding: 0px 2vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.logo {
  max-height: 100%;
  min-height: 100%;
  width: auto;
  margin: 0 auto; }

.title p {
  font-size: 3.5vw;
  text-align: center;
  margin: 0 auto;
  color: #145068; }

html, body, .container {
  height: 100%;
  width: 100%; }

.titleRowSpacer {
  min-height: 14%;
  width: 100%; }

.subtitle p {
  font-size: 1.5vw;
  color: #145068;
  text-align: center;
  margin: 0;
  padding-bottom: 2%; }

.columnMidHead {
  width: 45%;
  min-height: 50%;
  max-height: 50%; }

.columnGraphicHead {
  width: 27.5%; }

a {
  color: #FCFCF4; }

.row {
  display: flex;
  flex-direction: row; }

.infoRow {
  height: calc(100vh - 50px); }

.interestRow {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px; }

.topRow {
  padding-bottom: 8%;
  height: 70%; }

.aboutTitle {
  text-align: center;
  width: 100%; }

.bioTitle {
  padding-top: 5%; }

.aboutPadding {
  width: 100%;
  height: 80px; }

.columnMidAbout {
  width: 64%;
  height: 40%; }

.columnGraphicAbout {
  width: 23%; }

.sectionTitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.5vw;
  text-align: center;
  color: #145068; }

.interestedTitle {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: #145068;
  text-align: center;
  width: 100%; }

.aboutText {
  font-family: "Montserrat";
  font-size: 1.37vw;
  text-align: center;
  padding-top: 5%;
  line-height: 180%; }

.skillTitle {
  padding-top: 130px;
  text-align: center;
  width: 100%; }

.wideRow {
  width: 100%; }

.skillNameTitle {
  color: #145068;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 30px;
  text-align: center; }

.columnSkills {
  width: 50%; }

.skillRow {
  margin-top: 40px;
  margin-bottom: 40px; }

.skillText {
  margin-left: 50px;
  margin-right: 50px; }

.skillList {
  text-align: left;
  font-size: 18px;
  width: 50%;
  color: #145068; }

.skillListSec {
  display: flex;
  flex-direction: row;
  margin-left: 70px; }

.buttonRow {
  justify-content: center; }

.button {
  width: 250px;
  height: 60px;
  background-color: #145068;
  color: #FCFCF4;
  font-size: 20px;
  font-weight: 600;
  font-family: "Montserrat";
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  margin: 50px auto; }

.icon {
  margin-right: 8px;
  vertical-align: middle; }

.downIcon {
  font-size: 3vw;
  text-align: center;
  margin: 0 auto;
  padding-top: 5%; }

.downIconText {
  color: #145068; }

.downIconText:hover {
  color: #192C3D; }
